<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2010 Brion Noble Emde

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyebrowssoftware.bptrackerfree"
    android:versionName="1.3.2" android:versionCode="13">
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17"
    />
    <permission
        android:name="com.eyebrowssoftware.BPTracker.permission.MEDICAL"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:label="@string/bp_permission_label"
        android:description="@string/bp_permission_description"
        android:protectionLevel="dangerous"
    />

    <uses-permission android:name="com.eyebrowssoftware.BPTracker.permission.MEDICAL" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:name=".BPTrackerFree">
        <activity
            android:name=".activity.BPRecordList"
            android:label="@string/app_name"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BPRecordEditor"
            android:label="@string/title_edit"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.eyebrowssoftware.free.bp_record" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.eyebrowssoftware.free.bp_record" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BPRecordEditorText"
            android:label="@string/title_alternate_edit"
            android:exported="false"
        >
            <intent-filter>
              <action android:name="android.intent.action.EDIT" />
              <category android:name="android.intent.category.DEFAULT" />
              <data android:mimeType="vnd.android.cursor.item/vnd.eyebrowssoftware.free.bp_record" />
            </intent-filter>
            <intent-filter>
              <action android:name="android.intent.action.INSERT" />
              <category android:name="android.intent.category.DEFAULT" />
              <data android:mimeType="vnd.android.cursor.dir/vnd.eyebrowssoftware.free.bp_record" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BPSend"
            android:label="@string/title_send"
        />
        <activity
            android:name=".activity.BPDataManager"
            android:label="@string/label_delete_history"
            android:icon="@drawable/icon"
        />
        <activity
            android:name=".activity.BPPreferenceActivity"
            android:label="@string/default_values"
            android:icon="@drawable/icon"
        />
                <provider
            android:name=".BPProviderFree"
            android:authorities="com.eyebrowssoftware.bptrackerfree.bp"
            android:label="@string/title_provider"
            android:icon="@drawable/icon"
            android:readPermission="com.eyebrowssoftware.BPTracker.permission.MEDICAL"
            android:writePermission="com.eyebrowssoftware.BPTracker.permission.MEDICAL"
        />
    </application>
</manifest>
