<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.eyebrowssoftware.bptrackerfree"
	android:versionName="1.2.1"
	android:versionCode="4"
>
	<permission 
		android:name="com.eyebrowssoftware.BPTracker.permission.MEDICAL" 
		android:permissionGroup="android.permission-group.PERSONAL_INFO" 
		android:label="@string/bp_permission_label" 
		android:description="@string/bp_permission_description" 
		android:protectionLevel="dangerous"
	/>
	
	<uses-permission android:name="com.eyebrowssoftware.BPTracker.permission.MEDICAL" />
	
    <application
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    android:name=".BPTrackerFree">
        <activity 
            android:name=".BPRecordList"
        	android:label="@string/app_name"
            android:theme="@android:style/Theme.Light"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
	        android:name=".BPRecordEditor" 
        	android:theme="@android:style/Theme.Light"
            android:label="@string/title_edit"
	    />
		<activity 
			android:name=".BPSend" 
			android:theme="@android:style/Theme.Light"
			android:label="@string/title_send" 
		/>
	    <provider 
	    	android:name=".BPProviderFree"
	    	android:authorities="com.eyebrowssoftware.bptrackerfree.bp" 
	    	android:label="@string/title_provider" 
	    	android:icon="@drawable/icon"
			android:readPermission="com.eyebrowssoftware.BPTracker.permission.MEDICAL"
			android:writePermission="com.eyebrowssoftware.BPTracker.permission.MEDICAL"
	    /> 
	</application>
    <uses-sdk 
    	android:minSdkVersion="3"
    	android:targetSdkVersion="4"
    />
</manifest>
